<!-- Read the Formbutton docs at formspree.io/formbutton/docs. See more examples at codepen.io/formspree -->
<script src="https://formspree.io/js/formbutton-v1.min.js" defer></script>
<script>
  /* paste this line in verbatim */
  window.formbutton=window.formbutton||function(){(formbutton.q=formbutton.q||[]).push(arguments)};
  /* customize formbutton below*/     
  formbutton("create", {
    action: "https://formspree.io/f/xbjwjlbn",
    title: "Feedback",
    fields: [
      {
        type: "radio",
        name: "feedback_type",
        value: "Comment",
        label: "Comment"
      },
      {
        type: "radio",
        name: "feedback_type",
        value: "Correction",
        label: "Correction"
      },
      {
        type: "radio",
        name: "feedback_type",
        value: "Bug",
        label: "Bug"
      },
      { 
        type: "email", 
        label: "Email:", 
        name: "email",
        required: true,
        placeholder: "your@email.com"
      },
      {
        type: "textarea",
        label: "Message:",
        name: "message",
        placeholder: "We want to hear from you! Enter your feedback here.",
      },
      { type: "submit" }      
    ],
    styles: {
      title: {
        backgroundColor: "gray"
      },
      button: {
        backgroundColor: "gray"
      }
    }
  });
</script>
