<!-- Read the Formbutton docs at formspree.io/formbutton/docs. See more examples at codepen.io/formspree -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" />

<script src="https://formspree.io/js/formbutton-v1.min.js" defer></script>
<script>
  /* paste this line in verbatim */
  window.formbutton=window.formbutton||function(){(formbutton.q=formbutton.q||[]).push(arguments)};
  /* customize formbutton below*/     
  formbutton("create", {
    action: "https://formspree.io/f/xbjwjlbn",
    title: "Feedback",
    fields: [
      {
        type: "radio",
        name: "feedback_type",
        value: "Comment",
        label: "Comment",
        style: {
            display: "inline-block",
            "padding-right": "10px"
        }
      },
      {
        type: "radio",
        name: "feedback_type",
        value: "Correction",
        label: "Correction",
        style: {
            display: "inline-block",
            "padding-right": "10px"
        }
      },
      {
        type: "radio",
        name: "feedback_type",
        value: "Bug",
        label: "Bug",
        style: {
            display: "inline-block",
            "padding-right": "10px"
        }
      },
      { 
        type: "email", 
        label: "Email:", 
        name: "email",
        required: true,
        placeholder: "your@email.com"
      },
      {
        type: "textarea",
        label: "Message:",
        name: "message",
        placeholder: "We want to hear from you! Enter your feedback here.",
      },
      { 
        type: "submit",
        value: "Submit"
      },
      {
        type: "hidden",
        name: "URL",
        value: window.location.href
      }
    ],
    buttonImg: "<i class='fas fa-comment' style='font-size:24px'/>", 
    styles: {
      title: {
        backgroundColor: "#0d232d"
      },
      button: {
        backgroundColor: "#0d232d"
      }
    }
  });
</script>
