{% comment %}
takes:
- `hero` (hash) [NO DEFAULT]
- `pin_to_top` (bool) [DEFAULT: false]

each `hero` takes:
- `color` (hex) [DEFAULT: darkblue]
- `image` (url) background var [NO DEFAULT]
- `heading` (text) [DEFAULT: site tagline]
- `subheading` (text) [DEFAULT: site description]
- `button_label` (text) [NO DEFAULT]
- `button_url` (text) [NO DEFAULT]


e.g.:
{% include blocks/hero.html hero=hero %}
{% endcomment %}

{% assign hero=include.hero %}

<!-- <section class="hero is-primary is-halfheight">
  <div class="hero-body">
    <p class="title">{{ hero.heading }}</p>
    <p class="subtitle">{{ hero.subheading }}</p>
    {% include misc/button.html button_label=hero.button_label button_link=hero.button_link %}
  </div>
</section> -->
<div class="hero-body">
  <div class="container has-text-centered">
    <p class="title">{{ hero.heading }}</p>
    <p class="subtitle">{{ hero.subheading }}</p>
    {% include misc/button.html button_label=hero.button_label button_link=hero.button_link %}
  </div>
</div>
