@charset "utf-8";

$blue: #0073b0;
$white: #ffffff;
$dark-blue: #003654;
$light-blue: rgba(141, 195, 223, 0.08);
$navy: #001927;
$navy-scrim: rgba(0, 25, 39, 0.8);
$red: #a40832;
$grey: rgba(237, 240, 240, 0.2);
$black: #171717;
$greyish-brown: #4a4a4a;
$shadow: rgba(60, 64, 67, 0.2);
