@charset "utf-8";

/* iiif-c vars */
$blue: #0073b0;
$white: #ffffff;
$dark-blue: #003654;
$light-blue: rgba(141, 195, 223, 0.08);
$navy: #001927;
$navy-scrim: rgba(0, 25, 39, 0.8);
$red: #a40832;
$grey: #edf0f0;
$lighter-grey: rgba(237, 240, 240, 0.2);
$black: #171717;
$greyish-brown: #4a4a4a;
$shadow: rgba(60, 64, 67, 0.2);

/* bulma overrides */

$background: $lighter-grey;
$primary: $blue;
$primary-dark: $navy;
$text: $black;

$size-7: 0.875rem;

$navbar-burger-color: $white;
$navbar-dropdown-arrow: $white;
$navbar-dropdown-item-active-background-color: $white;
$navbar-dropdown-background-color: $navy;

$family-sans-serif: "PT Sans", sans-serif;
$family-serif: "Playfair Display", serif;

$container-max-width: 1024px;
$heading-max-width: 60vw;
$content-max-width: 80vw;

@import "fonts";
@import "node_modules/bulma/bulma.sass";

html {
  scroll-behavior: smooth;
}

.brand-title {
  width: 195px;
  height: 30px;
  margin: 0 0 0 1rem;
  font-family: "Playfair Display";
  font-size: 13px;
  font-weight: bold;
  line-height: 1.15;
  letter-spacing: normal;
  color: $white;
}

.hero {
  .title {
    font-family: $family-serif;
    color: $white !important;
    text-align: center;
    margin: 0 auto 1.5rem auto;
  }
  .subtitle {
    text-align: center;
    color: $white !important;
    max-width: $content-max-width;
  }
}

#navbar {
  font-family: $family-serif;
  font-weight: bold;
  font-size: 1.1em;
  .hero.is-info,
  .navbar-item,
  .hero.is-info,
  .navbar-link {
    color: $white;
    &:hover{
      text-decoration: underline;
      text-decoration-thickness: 2px;
      text-underline-offset: 2px;
    }
  }
  .navbar-brand {
    .navbar-item {
      text-decoration: none !important;
      &:hover{
        text-decoration: none !important;
      }
    }
  }
}

.container {
  margin: 0 auto;
}

#main {
  font-family: $family-sans-serif;
  min-height: 50vh;

  h2 {
    font-family: $family-serif;
    color: $dark-blue;
    font-weight: bold;
  }

  h3 {
    font-family: $family-serif;
    color: $dark-blue;
    font-weight: bold;
  }
  .container-block {
    margin: 0 auto;
    padding: 1.5em;
  }
  .container-block:nth-child(even) {
    background-color: $light-blue;
  }
  .hover-box {
    transition: transform .3s;
    &:hover,
    &:focus {
      transform: scale3d(1.05, 1.05, 1);
    }
  }
}

.has-text-centered {
  p {
    // max-width: $content-max-width;
    text-align: justify;
    text-align-last: center;
    margin: .5em auto 2em;
  }
}

#footer {
  background-color: $grey;
  color: $black;
  .menu-column {
    font-family: $family-serif;
    font-size: $size-7;
    line-height: 24px;
    font-weight: bold;
    h4 {
      color: $dark-blue !important;
      margin-bottom: 1em;
      font-weight: bold;
    }
  }
}

.blue-text {
  color: $blue !important;
}

.toc-sidebar {
  font-family: $family-serif;
  font-weight: bold;
  li {
    // margin-bottom: 10px;
    font-size: $size-7;
  }
  a:hover {
    color: $dark-blue;
  }
  a:active {
    border-left: $dark-blue;
  }
}

.sticky	{
	position: sticky;
  top: 1rem;
}

pre.highlight {
  background-color: $black;
  color: $white;
  border-radius: 1em;
  margin: 1em 0 1em 0;
}
