@charset "utf-8";

/* color overrides */
$blue: #0073b0;
$white: #ffffff;
$dark-blue: #003654;
$light-blue: rgba(141, 195, 223, 0.08);
$navy: #001927;
$navy-scrim: rgba(0, 25, 39, 0.8);
$red: #a40832;
$grey: #edf0f0;
$black: #171717;
$greyish-brown: #4a4a4a;
$shadow: rgba(60, 64, 67, 0.2);

$background: $light-blue;
$primary: $blue;
$navbar-burger-color: $white;
$navbar-dropdown-arrow: $white;
$navbar-tab-hover-border-bottom-color: $white;
$navbar-dropdown-background-color: $navy;

/* font overrides */
$family-sans-serif: "PT Sans", sans-serif;
$family-serif: "Playfair Display", serif;

/* layout overrides */
$container-max-width: 1024px;

@import "fonts";
@import "node_modules/bulma/bulma.sass";


.brand-title {
  width: 195px;
  height: 30px;
  margin: 0 0 0 1rem;
  font-family: "Playfair Display";
  font-size: 13px;
  font-weight: bold;
  line-height: 1.15;
  letter-spacing: normal;
  color: $white;
}

.hero {
  color: $white !important;

  .title {
    font-size: 3.5rem;
    font-family: $family-serif;
  }

  .subtitle {
    max-width: 619px;
    text-align: justify;
    text-align-last: center;
    margin: .5em auto 2em;
    // font-size: 22px;
  }
}

#navbar {
  font-family: $family-serif;
  font-weight: bold;
  font-size: 1.1em;
  .hero.is-info,
  .navbar-item,
  .hero.is-info,
  .navbar-link {
    color: $white;
    &:hover{
      text-decoration: underline;
      text-decoration-thickness: 2px;
      text-underline-offset: 2px;
    }
  }
  .navbar-brand {
    .navbar-item {
      text-decoration: none !important;
      &:hover{
        text-decoration: none !important;
      }
    }
  }
}

#main {
  font-family: $family-sans-serif;
  min-height: 50vh;

  .hero {
    .title {
      color: $white !important;
    }

    .subtitle {
      text-align: justify;
      text-align-last: center;
      color: $white !important;
      font-size: 20px;
      max-width: 619px;
      line-height: 24px;
    }
  }

  p {
    text-align: justify;
    text-align-last: center;
    margin: .5em auto 2em;
    max-width: 619px;
    line-height: 22px;
    font-size: 16px;
    color: $black;
  }

  h2 {
    font-family: $family-serif;
    color: $dark-blue;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
  }

  h3 {
    font-family: $family-serif;
    color: $dark-blue;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
  }
  .container-block {
    width: 100%;
    margin: 0 auto;
    padding: 3em 1.5em 3em 1.5em;
  }
  .container-block:nth-child(even) {
    background-color: $light-blue;
  }
  .box {
    transition: transform .3s;
    &:hover,
    &:focus {
      transform: scale3d(1.05, 1.05, 1);
    }
  }
  .column {
    p {
      text-align: center;
    }
  }
}

#footer {
  background-color: $grey;
  color: $black;
  .menu-column {
    font-family: $family-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: bold;
    h4 {
      color: $dark-blue !important;
      margin-bottom: 1em;
      font-weight: bold;
    }
  }
}

.blue-text {
  color: $blue !important;
}
