@charset "utf-8";

/* color overrides */
$blue: #0073b0;
$white: #ffffff;
$dark-blue: #003654;
$light-blue: rgba(141, 195, 223, 0.08);
$navy: #001927;
$navy-scrim: rgba(0, 25, 39, 0.8);
$red: #a40832;
$grey: rgba(237, 240, 240, 0.2);
$black: #171717;
$greyish-brown: #4a4a4a;
$shadow: rgba(60, 64, 67, 0.2);

$background: $light-blue;
$primary: $blue;
$navbar-burger-color: $white;
$navbar-dropdown-arrow: $white;
$navbar-tab-hover-border-bottom-color: $white;
$navbar-dropdown-background-color: $navy;

/* font overrides */
$family-sans-serif: "PT Sans", sans-serif;
$family-serif: "Playfair Display", serif;

/* layout overrides */
$container-max-width: 1040px;

@import "fonts";
@import "../node_modules/bulma/bulma.sass";


.brand-title {
  width: 195px;
  height: 30px;
  margin: 0 0 0 1rem;
  font-family: "Playfair Display";
  font-size: 13px;
  font-weight: bold;
  line-height: 1.15;
  letter-spacing: 1px;
  color: $white;
}

#navbar {
  font-family: $family-serif;
  font-weight: bold;
}

.hero .title {
  font-family: $family-serif;
  font-size: 3.5rem;
}

#main {
  font-family: $family-sans-serif;
  color: $black;

  p {
    text-align: center;
    margin: .5em auto 2em;
    max-width: 850px;
    line-height: 22px;
    font-size: 16px;
  }

  h2 {
    font-family: $family-serif;
    color: $dark-blue;
    font-size: 28px;
    font-weight: bold;
  }

  h3 {
    font-family: $family-serif;
    color: $dark-blue;
    font-size: 18px;
    font-weight: bold;
  }
  .container-block {
    width: 100%;
    margin: 0 auto;
    padding: 3em 0 3em 0;
  }
  .container-block:nth-child(odd) {
    background-color: $light-blue;
  }
}
