<nav>
  <ul>
  <li>
    <a href="{{ '/' | absolute_url }}">
      <img src="{{ site.organization.logo | absolute_url }}"/>
      <h1>{{ site.title | default: site.organization.title }}</h1>
    </a>
  </li>
  {%- for item in site.data.header-menu -%}
    <li>
      {% if item.sub %}
      {{ item.label }}
      <ul>
        {% for sub in item.sub %}
        <li>
          <a href="{{ sub.link | absolute_url }}">{{ sub.label }}</a>
        </li>
        {% endfor %}
      </ul>
      {% elsif item.link %}
      <a href="{{ item.link | absolute_url }}">{{ item.label }}</a>
      {% endif %}
    </li>
  {%- endfor -%}
  </ul>
<nav>
