<nav id="navbar" class="navbar is-transparent is-spaced">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{ '/' | absolute_url }}">
        <img src="{{ site.iiif.logo | absolute_url }}" alt="{{ site.iiif.acronym }} logo" height="28">
        <span class="brand-title">{{ site.iiif.acronym }} | {{ site.title | default: site.iiif.title }}</span>
      </a>
      <div class="navbar-burger" data-target="navbar" onclick="document.querySelector('.navbar-menu').classList.toggle('is-active');">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <div class="navbar-menu">
      <div class="navbar-end">
        {%- for item in site.navbar_menu -%}
          {% if item.sub %}
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link" {%- if item.link -%} href="{{ item.link | absolute_url }}"{%- endif -%}>
                {{ item.label }}
              </a>
              <div class="navbar-dropdown is-boxed is-active">
                {% for sub in item.sub %}
                  <a class="navbar-item" href="{{ sub.link | absolute_url }}">{{ sub.label }}</a>
                {% endfor %}
              </div>
            </div>
          {% else %}
            <a class="navbar-item" href="{{ item.link | absolute_url }}">{{ item.label }}</a>
          {% endif %}
        {%- endfor -%}
      </div>
    </div>
  </div>
</nav>
