
<div class="block columns is-multiline">
  {% for item in include.items %}
    <div class="column is-one-third same-height-column">
      <div class="box hover-box iiif-card">
        {% if item[1].image %}
          <img class="iiif-icon" src="{{ item[1].image | absolute_url }}" alt="{{ item[1].alt }}" />
        {% endif %}

        <h3 class="title">{{ item[1].label }}</h3>
        <p class="subtitle has-text-left">{{ item[1].description }}</p>
        <footer class="columns">
          <div class="column">
            <p class="has-text-left">
              <a href="{{ site.api_url | append: item[0] | absolute_url }}" title="{{ site.api_url }}">{{ include.link_text }} ></a>
            </p>
          </div>
          <div class="column">
            <p class="has-text-right">{{ item[1].latest.label | capitalize }}</p>
          </div>
        </footer>
      </div>
    </div>
  {% endfor %}
</div>
