
<div class="block columns is-multiline">
  {% for item in include.items %}
    {% assign key = item[0] %}
    {% assign api = item[1] %}
    <div class="column is-one-third same-height-column">
      <div class="box hover-box iiif-card">
        {% if api.image %}
          {% include misc/image.html url=item[1].image alt={{ item[1].alt_text }} class="iiif-icon" %}
        {% endif %}

        <h3 class="title">{{ api.label }}</h3>
        <p class="subtitle has-text-left">{{ api.description }}</p>
        <footer class="columns">
          <div class="column">
            <p class="has-text-left">
              <a href="{{ site.api_url | append: '/' | append: key }}" title="{{ site.api_url }}">{{ include.link_text }} ></a>
            </p>
          </div>
          <div class="column">
            <p class="has-text-right">{{ api.latest.label | capitalize }}</p>
          </div>
        </footer>
      </div>
    </div>
  {% endfor %}
</div>
