<div class="block columns is-multiline">
  {% for item in include.items %}
    <div class="column is-one-third same-height-column">
      <div class="box hover-box iiif-card">
        {% if item.image %}
          <img class="iiif-icon" src="{{ item.image | absolute_url }}" />
        {% endif %}

        <h3 class="title {% unless item.image %} has-text-left{% endunless %}">{{ item.label }}</h3>
        <p class="has-text-left subtitle">{{ item.description }}</p>
        {% if item.link %}
        <footer>
          <p class="has-text-left">
            <a href="{{ item.link | absolute_url }}">{{ item.link_text }} ></a>
          </p>
        </footer>
        {% endif %}
      </div>
    </div>
  {% endfor %}
</div>
