{% comment %}
takes:
- `items` (hash array) [NO DEFAULT]

each `item` takes:
- `image` (text) [NO DEFAULT]
- `link` (text) [NO DEFAULT]
- `label` (text) [NO DEFAULT]
- `alt_text` (text) [DEFAULT `label`]

e.g.:
{% include blocks/carousel.html items=items %}

{% endcomment %}
<div class="block columns">
  {%- for item in include.items -%}
    <figure class="column">
      <a href="{{ item.link | absolute_url }}">
        <img alt="{{ item.alt_text }}" src="{{ item.image | absolute_url }}"/>
        <p class="is-size-7">{{ item.label }}</p>
      </a>
    </figure>
  {%- endfor -%}
</div>
