<div class="block columns is-multiline">
  {% for event in include.items | limit: include.limit %}
  <div class="column is-half same-height-column">
    <div class="event-card card box hover-box columns is-gapless is-mobile">
      <div class="date-block-container column is-narrow">
        <div class="card-content date-block has-text-centered">
          <span class="title date-month is-size-4">{{ event.date | date: "%b" }}</span>
          <br>
          <span class="subtitle is-size-1 date-num">{{ event.date | date: "%d" }}</span>
        </div>
      </div>
      <div class="column">
        <div class="event-info card-content">
          <h3 class="event-title is-size-5 has-text-left"><a href="{{ event.link }}">{{ event.title }}</a></h3>
          <p class="event-details has-text-left" style="margin-bottom:0">
            <i class="fas fa-map-marked-alt"></i>&nbsp;
            {{ event.location }}<br>
            <i class="far fa-calendar-alt"></i>&nbsp;
            <time datetime="{{ event.date | date: '%Y-%m-%d' }}">{{ event.date | date: "%A, %B %e, %Y at %I:%M%P" }}</time>
          </p>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
