{% if include.image_align == 'left' %}
<div class="columns">
  <div class="column is-half">
    <img src="{{ include.image | absolute_url }}"  alt="{{ include.alt_text }}" />
  </div>
  <div class="column has-text-left">
    {{ include.content | markdownify }}
    {% if include.button_label %}
    {% include misc/button.html button_label=include.button_label button_link=include.button_link %}
    {% endif %}
  </div>
</div>
{% else %}
<div class="columns">
  <div class="column is-half">
    {{ include.content | markdownify }}
    {% if include.button_label %}
    {% include misc/button.html button_label=include.button_label button_link=include.button_link %}
    {% endif %}
  </div>
  <div class="column">
    <figure class="image">
      <img src="{{ include.image | absolute_url }}"  alt="{{ include.alt_text }}" />
      {% if include.caption %}
      <figcaption class="caption">{{ include.caption }}</figcaption>
      {% endif %}
    </figure>
  </div>
</div>
{% endif %}
