---
block-start: '<div class="container-block is-max-widescreen"><div class="container has-text-centered" markdown="1">'
block-end: '</div></div>'
---
<!DOCTYPE html>
<html lang='en'>
  <body>
    {%- if site.notification.enabled -%}
    {%- include misc/notification.html notification=site.notification -%}
    {%- endif -%}

    {%- include blocks/hero.html hero=page.hero top_nav=true -%}
    <section id="main">
      {{ content }}
    </section>
    {%- include footer.html -%}
  </body>
</html>
